html {
	scroll-behavior: smooth;
}

/* #search-bar::placeholder, */
/* #search-bar:focus::placeholder { */
/* 	transition-property: color; */
/* 	transition-duration: 200ms; */
/* 	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
/* } */

#search-bar::placeholder {
	color: var(--gray-400);
}
#search-bar:focus::placeholder {
	color: var(--gray-300);
}
